.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  display: table-cell;
  padding: 10px;
  min-height: 100%;
  position: fixed;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 100%;
  box-shadow:
    hsla(220, 30%, 5%, 0.05) 0px 5px 15px 0px,
    hsla(220, 25%, 10%, 0.05) 0px 15px 35px -5px;
  width: 400px;
  height: 460px;
}
.signup-test {
  padding: 20px;
}
.signup-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  gap: 13px;
}
.signup-one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  gap: 15px;
}

.sign-button {
  border-radius: 10px;
  background-color: black;
  color: white;
  font-weight: bold;
}

.login-form {
  width: 100%;
}

.signin-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  gap: 10px;
  box-shadow:
    hsla(220, 30%, 5%, 0.05) 0px 5px 15px 0px,
    hsla(220, 25%, 10%, 0.05) 0px 15px 35px -5px;
  width: 340px;
  height: 340px;
}
